rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tests/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /tests/{parent}/questions/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/questions/{document} {
      allow read: if true;
    }


    match /tests/{parent}/lessons/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/lessons/{document} {
      allow read: if true;
    }


    match /tests/{parent}/answers/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/answers/{document} {
      allow read: if true;
    }

  }
}
